/*---------------------------------------
  post-card BLOCK              
-----------------------------------------*/
.custom-block {
  padding: 10px;
}

.custom-block-image.post-card {
  width: 100%;
  height: 200px;
}

.custom-block-full .social-share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}

.custom-block .post-label-block{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  margin-top: 5px;
  margin-right: 5px;
}
